body {
    background-image: url('../icons/plant2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    /* background-size: cover; */
    margin: 0;
    padding: 0;
    background-color: #829399;
    /* background-size: auto 120%; */
}

@media screen and (max-width: 960px) {
    body {
        background-position: center center;
    }
}

@media screen and (min-width: 960px) {
    body {
        background-position: center center;
    }
}

#main {
    padding: 10px;

}

.form {
    background-color: #cccccc;
    border-radius: 15px;
    padding: 15px;
}

/* .card {
    background-color: #cccccc;
    border-radius: 15px;
    padding: 15px;
} */

.roundButton {
    border-radius: 50%;
    /* background-color: blue; */
    color: white;
    font-size: 16px;
}

.alert {
    opacity: 0;
    transition: ease-in;
    transition: opacity 0.3s;
    position: absolute;
    width: 98%;
}

.littleTrash {
    width: 30;
    position: absolute;
    left: 92%;
    cursor: pointer;
}

.chart {
    background-color: #f0f4e0;

}


.buttonContainer>* {
    margin-right: 2%;
}

.buttonContainer {
    background-color: #a4cf83;
    --bs-gutter-x: 0;
    height: 40px;
    align-items: center;
}


.weather-card {
    background-color: #f0f4e0;
    box-shadow: 0px 1px 2px 0px #ccc;
}


.marginChildren>* {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.weatherIcon {
    width: 30%;
}

.chart {
    width: 100%;
}

/* .spinner-border {
    position: absolute;
    left: 50%;
    top: 126%;
} */
#predictionDiv {
    position: relative;
}

.spinner-container {
    position: absolute;
    top: 50%; /* Position the child element 50% from the top of the parent */
    left: 50%; /* Position the child element 50% from the left of the parent */
    transform: translate(-50%, -50%); /* Center the child element exactly in the middle */
    padding: 20px;
}

body {
    min-height: 900px;
}

.form-check-label {
    font-size: 14px;
}

.font11px {
    font-size: 11px;
}

.font15px {
    font-size: 15px;
}

.form-check-label {
    opacity: 0.8;
}

.selectedTimeWindow {
    transition: background-color 0.3s ease;
    background-color: #fff;
    box-shadow: 1px 1px 0 1px #83a47a;
}

.timeWindowButton {
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;

}

.timeWindowButton:hover {
    transition: background-color 0.3s ease;
    background-color: #fff;
    box-shadow: 1px 1px 0 1px #83a47a;
}

#profileContainer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px;
    border-radius: 8px;
}

#devicesFileContainer {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 12px;
    border-radius: 8px;
}

.white{
    color: white;
}

#devicesContainer{
    /* background-color: white; */
    width: 100% !important;
}

#pager{
    background-color: white;
}

.ui-jqgrid.ui-jqgrid-bootstrap{
    border: none;
}
.card ui-jqgrid-view{
    border-radius: 0;
}